<!--
  Generated template for the SendingDetailsCiclistaPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar secondary>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Detalles del Envío</ion-title>
</ion-navbar>

<ion-content padding class="sending-details-ciclista">

<ion-list no-lines>


<ion-item >
  <div *ngIf="anuncio" id="map1" >
    
  </div>
</ion-item>


 <div *ngIf="envio">

 	<div *ngIf="envio.estado == 'esperando'">
		<ion-item  secondary>

			<button full secondary (click)="cambiarEstadoEnvio('enviando')" [disabled]="statusBoton"> El paquete ha sido recogido</button>
		</ion-item>
	</div>

</div>

 <div *ngIf="envio">

 	<div *ngIf="envio.estado == 'enviando'">
		<ion-item small secondary>

			<button full secondary (click)="cambiarEstadoEnvio('entregado')" [disabled]="statusBoton"> El paquete ha sido entregado</button>
		</ion-item>
	</div>

</div>



</ion-list>

<div *ngIf="anuncio">
  <ion-list no-lines>
      <ion-list-header>
      Datos de recogida
      </ion-list-header>
      <ion-item>
      <ion-icon item-left name="locate"></ion-icon>{{anuncio.direccionRemitente}}</ion-item>
      <ion-item>
      <ion-icon item-left name="navigate"></ion-icon>{{anuncio.datosAdicionalesDireccionRemitente}}</ion-item>
      <ion-item>
      <ion-icon item-left name="person"></ion-icon>{{anuncio.nombreRemitente}}</ion-item>
      <ion-item>
      <ion-icon item-left name="call"></ion-icon>{{anuncio.telefonoRemitente}}</ion-item>

  </ion-list>

  <ion-list no-lines>
      <ion-list-header>
      Datos de entrega
      </ion-list-header>
      <ion-item>
      <ion-icon item-left name="locate"></ion-icon>{{anuncio.direccionReceptor}}</ion-item>
      <ion-item>
      <ion-icon item-left name="navigate"></ion-icon>{{anuncio.datosAdicionalesDireccionReceptor}}</ion-item>
      <ion-item>
      <ion-icon item-left name="person"></ion-icon>{{anuncio.nombreReceptor}}</ion-item>
      <ion-item>
      <ion-icon item-left name="call"></ion-icon>{{anuncio.telefonoReceptor}}</ion-item>

  </ion-list>
</div>

  
</ion-content>
